@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Montserrat";
}

.login-container {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn {
  background: linear-gradient(128deg, #b2d235 17.98%, #81bf41 95.43%), #b2d235;
}

.navbar {
  background: linear-gradient(90deg, #000 0%, #444 50%, #000 100%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.overlay {
  border-radius: 1383.398px;
  opacity: 0.43;
  background: rgba(60, 138, 255, 0.3);
  filter: blur(177.85000610351562px);
}
